## Final Project Submission

Please fill out:
* Student name: Kimberly Humphrey
* Student pace: Full Time
* Scheduled project review date/time: 
* Instructor name: Amber Yandow
* Blog post URL:

Import necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline

C:\Anaconda3\envs\learn-env\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

<b>Open datasets in pandas</b>

In [6]:
#import data
df1 = pd.read_csv('~/Downloads/Movie_Datasets/bom.movie_gross.csv')

df3 = pd.read_csv('~/Downloads/Movie_Datasets/imdb.title.basics.csv')

df6 = pd.read_csv('~/Downloads/Movie_Datasets/imdb.title.ratings.csv')

df11 = pd.read_csv('~/Downloads/Movie_Datasets/tn.movie_budgets.csv')

In [7]:
df11.rename(columns={'movie' : 'title'}, inplace = True) #rename column to merge on

In [8]:
df3.rename(columns={'primary_title':'title'}, inplace = True) #rename column to merge on

In [9]:
gross = pd.merge(df1, df11, on=['title']) #merge

In [10]:
imdb = pd.merge(df3, df6, on=['tconst']) #merge

In [11]:
movies = pd.merge(imdb, gross, on=['title']) #last merge to merge all 4 dfs

In [12]:
movies.foreign_gross.fillna(0, inplace = True) #Fill null values in Foreign Gross assuming there was no worldwide release

In [13]:
movies['foreign_gross'] = movies.foreign_gross.apply (pd.to_numeric, errors='coerce') #change values in the foreign gross column to an int

In [14]:
movies = movies.dropna() #drop all other rows with a null value

In [15]:
movies.drop_duplicates(subset ="title", keep = 'first', inplace = True)  #drop duplicates with the same title, keeping the first entry

In [16]:
print(movies[movies['title'] == 'The Gambler']) #checking to make sure my doubles were removed

        tconst        title original_title  start_year  runtime_minutes  \
803  tt1828325  The Gambler    The Gambler        2015            105.0

    genres  averagerating  numvotes studio  domestic_gross_x  foreign_gross  \
803  Drama            7.0        10   Par.        33700000.0      5600000.0

     year  id  release_date production_budget domestic_gross_y worldwide_gross
803  2014  25  Dec 10, 2014       $25,000,000      $33,680,992     $38,718,031

In [17]:
movies.loc[(movies.runtime_minutes <= 20),'runtime_minutes']=107 #changed movies listed as less than 20 minutes long to the average of 107

In [18]:
movies.drop(['original_title'], axis=1, inplace=True) #The next 6 lines remove unwanted columns

In [19]:
movies.drop(['tconst'], axis=1, inplace=True)

In [20]:
movies.drop(['start_year'], axis=1, inplace=True)

In [21]:
movies.drop(['domestic_gross_x'], axis=1, inplace=True)

In [22]:
movies.drop(['year'], axis=1, inplace=True)

In [23]:
movies.drop(['id'], axis=1, inplace=True)

In [24]:
movies['release_date'] = pd.to_datetime(movies['release_date']) #Changing the date to a date type

In [25]:
movies['release_month'] = movies['release_date'].dt.month_name() #Making a separate column for release month from release date.

In [26]:
movies['production_budget'] = movies['production_budget'].str.replace(',', '') #changing dtype to int from str
movies['production_budget'] = movies['production_budget'].str.replace('$', '')
movies['production_budget'] = movies['production_budget'].astype(int)

In [27]:
movies['domestic_gross_y'] = movies['domestic_gross_y'].str.replace(',', '') #changing dtype to int from str
movies['domestic_gross_y'] = movies['domestic_gross_y'].str.replace('$', '')
movies['domestic_gross_y'] = movies['domestic_gross_y'].astype(int)

In [28]:
movies['worldwide_gross'] = movies['worldwide_gross'].str.replace(',', '') #changing dtype to int from str
movies['worldwide_gross'] = movies['worldwide_gross'].str.replace('$', '')
movies['worldwide_gross'] = movies['worldwide_gross'].astype(int)

In [29]:
movies['profit'] = movies['worldwide_gross'] - movies['production_budget'] #creating a profit column

In [30]:
movies['ROI%'] = ((movies['profit'] - movies['production_budget']) / movies['production_budget']) * 100 #creating a ROI column

In [73]:
movies['worldwide%'] = (movies['worldwide_gross'] - movies['domestic_gross_y']) / movies['worldwide_gross'] #creating percentage of revenue that was foreign

In [31]:
movies = movies.dropna() #dropping null values again

In [77]:
movies.to_csv('movies.csv') #saving df

In [78]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1150 entries, 0 to 1412
Data columns (total 16 columns):
tconst               1150 non-null object
title                1150 non-null object
runtime_minutes      1150 non-null float64
genres               1150 non-null object
averagerating        1150 non-null float64
numvotes             1150 non-null int64
studio               1150 non-null object
foreign_gross        1150 non-null float64
release_date         1150 non-null datetime64[ns]
production_budget    1150 non-null int32
domestic_gross_y     1150 non-null int32
worldwide_gross      1150 non-null int32
release_month        1150 non-null object
profit               1150 non-null int32
ROI%                 1150 non-null float64
worldwide%           1150 non-null float64
dtypes: datetime64[ns](1), float64(5), int32(4), int64(1), object(5)
memory usage: 134.8+ KB

In [79]:
movies.head(10)

,tconst,title,runtime_minutes,genres,averagerating,numvotes,studio,foreign_gross,release_date,production_budget,domestic_gross_y,worldwide_gross,release_month,profit,ROI%,worldwide%
0,tt0337692,On the Road,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,8000000.0,2013-03-22,25000000,720828,9313302,March,-15686698,-162.746792,0.922602
3,tt0359950,The Secret Life of Walter Mitty,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,129900000.0,2013-12-25,91000000,58236838,187861183,December,96861183,6.440860,0.690001
4,tt0365907,A Walk Among the Tombstones,114.0,"Action,Crime,Drama",6.5,105116,Uni.,26900000.0,2014-09-19,28000000,26017685,62108587,September,34108587,21.816382,0.581094
6,tt0376136,The Rum Diary,119.0,"Comedy,Drama",6.2,94787,FD,10800000.0,2011-10-28,45000000,13109815,21544732,October,-23455268,-152.122818,0.391507
7,tt0383010,The Three Stooges,92.0,"Comedy,Family",5.1,28570,Fox,10500000.0,2012-04-13,30000000,44338224,54052249,April,24052249,-19.825837,0.179715
8,tt0398286,Tangled,100.0,"Adventure,Animation,Comedy",7.8,366366,BV,391000000.0,2010-11-24,260000000,200821936,586477240,November,326477240,25.568169,0.657579
9,tt0401729,John Carter,132.0,"Action,Adventure,Sci-Fi",6.6,241792,BV,211100000.0,2012-03-09,275000000,73058679,282778100,March,7778100,-97.171600,0.741640
10,tt0427152,Dinner for Schmucks,114.0,Comedy,5.9,91546,P/DW,13800000.0,2010-07-30,69000000,73026337,86796502,July,17796502,-74.207968,0.158649
11,tt0429493,The A-Team,117.0,"Action,Adventure,Thriller",6.8,235256,Fox,100000000.0,2010-06-11,110000000,77222099,177241171,June,67241171,-38.871663,0.564311
12,tt0431021,The Possession,92.0,"Horror,Mystery,Thriller",5.9,53649,LGF,36300000.0,2012-08-31,14000000,49130588,82925064,August,68925064,392.321886,0.407530